<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Follow us on GitHub
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
        adrielwanderson<br/>
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
        jailsonsf<br/>
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
        luiseduardogfranca<br/>
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
        trucopa<br/>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>